body {
  background-color: lightblue;
  font-family: 'Indie Flower', cursive;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
h1 {
  margin: 10px 30px;
}
h2 {
  margin: 30px;
  border-bottom: 2px solid black;
}
li, .task, button {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
.new {
  color: blue;
}
#task {
  border: 3px solid  darkorange;
}
#task, button {
  margin: 0 10px;
  padding: 10px;
}
#task, button, .checkbox:focus {
  outline: none;
}
button {
  background-color: darkorange;
  border: none;
  border-radius: 8%;
  cursor: pointer;
  transition: 0.5s all;
}
button:hover {
  background-color: #ffcc29;
  box-shadow: 2px 2px 2px black;
}
button:active {
  background-color: black;
  color: darkorange;
  box-shadow: 2px 2px 2px black;
  border: none;
}
.done {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
}
ul {
  list-style: none;
}
.checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.todotitle {
  padding: 0 19px;
}
span {
  margin: 0 30px;
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .flexrow {
    flex-direction: column;
  }
  .flexrow2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  #task, button {
    font-size: initial;
  }
  span {
    margin: 0 30px 30px 30px;
  }
}