.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
li, .task, #add {
  font-size: 20px;
}
.new {
  color: blue;
}

.done {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
}
ul {
  list-style: none;
}
.checkbox {
  margin-right: 10px;
}
.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
